* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("wall_down.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /* cursor: none; */
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    overflow: hidden;
    z-index: -1;
}

.main_cloud {
    position: relative;
    top: 20px;
    width: 90%;
    height: 80vh;
    border: 1px solid rgba(200, 200, 200, .5);
    border-radius: 10px;
    background: rgba(200, 200, 200, .2);
    overflow-y: auto;
    z-index: -1;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.main_cloud::-webkit-scrollbar {
    width: 10px;
    height: 50%;
    background: transparent;
    border: 2px solid rgba(200, 200, 200, .2);
}

#content_h1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 40px;
    top: 0px;
    margin-bottom: 10px;
    z-index: -1;
}

#content_h1 h1 {
    position: relative;
    display: inline;
    font-size: 30px;
    font-family: "Comic Sans MS";
    background: linear-gradient(to bottom right, rgb(255, 0, 179), #000, rgb(255, 0, 34));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: change_color 3s linear infinite;
}

.container_items {
    position: relative;
    width: 250px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.container_items #imagenes {
    position: relative;
    width: 100px;
    height: 100px;
    transition: all .2s linear;
}

.container_items #imagenes:hover {
    transform: translateY(-10px);
}

.container_items .name_item {
    position: relative;
    font-family: "Arial Rounded MT";
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 5px white;
    list-style: none;
    text-align: center;
    text-shadow: 0 0 2px #000;
    z-index: -1;
}

.container_items .name_item:hover {
    text-shadow: 0 0 5px black,
        0 0 10px black;
}

.container_items .name_item::selection {
    background: none;
    color: transparent;
}

#btn_back {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 0;
    left: 0;
    font-size: 30px;
    text-align: center;
    background: transparent;
    border: none;
    cursor: pointer;
}

.container_search_bar {
    position: absolute;
    top: 10px;
    width: 40%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 10px black;
    background-color: rgb(65, 16, 52);
}
.container_search_bar .input_search {
    width: 80%;
    height: 100%;
    background: rgb(65, 16, 52);
    box-shadow: inset 0 0 5px black;
    color: white;
    text-shadow: 0 0 3px white;
    text-align: center;
    font-family: "Arial Rounded MT";
    font-size: 20px;
    border: none;
    border-radius: 10px;
}
.container_search_bar .btn_search {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    background: rgb(65, 16, 52);
    box-shadow: inset 0 0 5px black;
    text-align: center;
    cursor: pointer;
}

@keyframes change_color {
    0% {
        background: linear-gradient(to bottom right, rgb(255, 0, 179), #000, rgb(255, 0, 34));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    50% {
        background: linear-gradient(to bottom right, #000, rgb(255, 0, 34), rgb(255, 0, 179));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    100% {
        background: linear-gradient(to bottom right, rgb(255, 0, 34), rgb(255, 0, 179), #000);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}