<footer>
  <div class="content_elements">
    <h4>Socials:</h4>
    <img
      style="--i: 1"
      class="img youtube"
      src="socials/YouTube.png"
      alt="YouTube"
    />
    <img
      style="--i: 2"
      class="img facebook"
      src="socials/Facebook.png"
      alt="Facebook"
    />
    <img
      style="--i: 3"
      class="img twitter"
      src="socials/twitter.png"
      alt="Twitter"
    />
    <img
      style="--i: 4"
      class="img instagram"
      src="socials/Instagram.png"
      alt="Instagram"
    />
    <img
      style="--i: 5"
      class="img github"
      src="socials/GitHub.png"
      alt="GitHub"
    />
  </div>
  <style>
    footer {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 10vh;
      top: 10px;
    }

    footer .content_elements {
      position: relative;
      width: 90%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
    }

    footer .content_elements img {
      position: relative;
      display: flex;
      margin-left: 10px;
      width: 40px;
      height: 40px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      transition: transform 0.4s;
      animation: up_links 2.5s infinite linear;
      animation-delay: calc(1s * var(--i));
    }

    footer .content_elements img:hover {
      transform: scale(1.2, 1.2);
    }

    footer .content_elements h4 {
      position: relative;
      display: inline;
      font-size: 30px;
      background: linear-gradient(to right bottom, red, orange, yellow);
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      animation: text_socials 2s infinite linear;
      animation-delay: 0.5s;
    }

    /* Apartado de animaciones */
    @keyframes text_socials {
      0% {
        background: linear-gradient(to right bottom, red, orange, yellow);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
      }

      50% {
        background: linear-gradient(to right bottom, orange, yellow, red);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
      }

      100% {
        background: linear-gradient(to right bottom, yellow, red, orange);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
      }
    }

    @keyframes up_links {
      0%,
      40%,
      100% {
      }

      20% {
        box-shadow: 0 0 20px 5px rgb(255, 94, 0) inset,
          0 0 10px 2px rgb(255, 94, 0);
      }
    }
  </style>
</footer>
